[mysqld]
server-id                         = 1
default_authentication_plugin     = mysql_native_password

# Binary log file name (for data recovery after possible mysql server crash).
log_bin                           = mysql-bin-1.log

# The MySQL Server system variables described in this section are used to monitor and control Global Transaction Identifiers (GTIDs).
enforce_gtid_consistency          = ON

# Controls whether GTID based logging is enabled and what type of transactions the logs can contain/
# enforce_gtid_consistency must be true before you can set gtid_mode=ON.
gtid_mode                         = ON

# Whether updates received by a replica from a replication source server should be logged to the replica's own binary log.
log_slave_updates                 = ON

# When binlog_checksum is disabled (value NONE),
# the server verifies that it is writing only complete events to the binary log
# by writing and checking the event length (rather than a checksum) for each event.
binlog_checksum                   = NONE

binlog_format                     = row

# The setting of this variable determines whether the replica records source metadata, consisting of status and connection information,
# to an InnoDB table in the mysql system database, or to a file in the data directory.
# default value - TABLE
master_info_repository            = TABLE

# The setting of this variable determines whether the replica server logs its position in the relay logs
# to an InnoDB table in the mysql system database, or to a file in the data directory.
# default value - TABLE
relay_log_info_repository         = TABLE

plugin-load-add                   = semisync_master.so

!includedir /etc/mysql/conf.d/
